<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zejing.mybatis.mappers.UserMapper">
    <!--
    namespace:名称空间;指定为接口的全类名
    id：唯一标识
    resultType：返回值类型
    #{id}：从传递过来的参数中取出id值

    public Employee getEmpById(Integer id);
     -->

    <insert id="insertUser">
        insert into t_user values (null,'admin',1234556,12,'男','123@qq.com')
    </insert>

    <!--int updateUser();-->
    <update id="updateUser">
        update t_user set username = 'zejing' where id = 4
    </update>
    
    <select id="getUserById" resultType="User">
        select * from t_user where id = 3
    </select>
</mapper>